.contAbout {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    width: 60%;
    margin-top: 5px;
}

img {
    width: 10rem;
    margin: 10px;
}