html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #161717;
    background: #bcaf83;
}